<a href="https://colab.research.google.com/github/Dolsen0/panda-intro/blob/main/PandasIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import random

In [ ]:
#4x2 array
first_np_array = np.array([[2,5],[5,5],[3,7],[6,6]])

#Names of two columns
column_names = ['Home','Away']

#dataframe based on scores and teams
scores = pd.DataFrame(data=first_np_array, columns=column_names)

print(scores)

   Home  Away
0     2     5
1     5     5
2     3     7
3     6     6

Task 1: Create a DataFrame

Do the following:


*  Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named Eleanor, Chidi, Tahani, and Jason. Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.




Output the following:
the entire DataFrame

*   the entire DataFrame
*  the value in the cell of row #1 of the Eleanor column

In [ ]:
#column name
column_name2 = ["Eleanor", "Chidi", "Tahani", "Jason"]

#adding random integers 1-100 into a 3x4 grid. 
new_array = np.random.randint(low=0, high=101, size=(3,4))

#combining data and column names into one variable
data2 = pd.DataFrame(data=new_array, columns=column_name2)

#add new column with random integers to existing array
data2["Derek"] = np.random.randint(low=0, high=101, size=3)


print(data2)
print("\n row 1 of Eleanor: %d\n" %data2['Eleanor'][1])
print("\n Derek's column 0 info is: %d\n" %data2['Derek'][0])

   Eleanor  Chidi  Tahani  Jason  Derek
0       49     66      72     96     68
1       11     31      85     60     32
2       36     13      88     65     68

 row 1 of Eleanor: 11


 Derek's column 0 info is: 68